@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hind+Siliguri:wght@300;400;500;600;700&family=Racing+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
    min-height: 100vh;
    background-color:#094cb1;
}

header {
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0px 50px 0px;
    text-align: center;
}

#genero-botoes {
    text-align: center;
    background: linear-gradient(to bottom   , rgb(0, 0, 0), #57070c);
    padding-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    background-color: #5e2129;
    color: rgb(226, 226, 226);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
}

button:hover {
    background-color: #000000;
    color: white;
}


#jogos {
    background: linear-gradient(to bottom   , #57070c, #094cb1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 20px 20px 20px;
}

.jogo {
    background-color: rgba(54, 54, 54, 0.3);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.jogo:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.jogo h3 {
    color: white;
    margin: 0 0 10px 0;
}

.jogo p {
    color: white;
    margin: 0;
}

img
{
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h3 {
    font-weight: normal;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

p{
    width: 100%;
    display: flex;
    justify-content: center;
}

footer{
    padding: 20px 0px 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #094cb1;
    font-size: small;
}